# zephyrus,air
# age103tjnlluc3q3c36y4t7yp32l2lgculhd0uqnmv9va55w8g5pf3ps5nlya0,age1ekey9zn0vdgd9jchdnqv5y9x2f6csl585zdm7v8968qg2jte2ppqjc67r7
/secrets.nix filter=git-crypt-agessh diff=git-crypt-agessh
/flake.lock -diff
